body{
  margin: auto;
  background-image: url("gradient_bg.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
#top{
  width: 30%;
  height: 300px;
  float: left;
  margin: 1.66%
}
#top2{
  height: 500px;
  width: 600px;
  display: block;
  text-align: center;
  margin: auto;
}
#top3{
  height: 500px;
  width: 600px;
  display: block;
  text-align: center;
  margin: auto;
}
#top4{
height: 500px;
width: 600px;
display: block;
text-align: center;
margin: auto;
}
#p1::first-letter{
  color:red;
  font-size: 50px;
}
#p1{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: Green;
  background: white;
  text-align: center;
  border: 5px solid orange;
  margin-top: 320px;
}
#p2{
  font-family: 'Roboto', sans-serif;
  color:red;
  background: white;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  border: 5px solid orange;
}
#p3{
  font-family: 'Roboto', sans-serif;
  color:Black;
  background: yellow;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
    border: 5px solid orange;
    margin-top: 50px;
}
#p22{
  font-family: 'Roboto', sans-serif;
  color:Black;
  background: yellow;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  border: 5px solid orange;
  margin-top: 50px;
}
#img21{
  display: block;
  text-align: center;
  margin: auto;
}
h1 {
  font-family: 'Roboto', sans-serif;
  color:rgb(219, 255, 13);
  font-size:42px;
  margin: auto;
  border:2px dashed orange;
  text-align: center;
  width: 60%;
  background-color: red;
  position: relative;
  animation: myfirst 5s linear 2s infinite alternate;
}
@keyframes myfirst {
  0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:10px; top:10px;}
  50%  {color:blue; left:0px; top:0px;}
  75%  {color:green; left:10px; top:10px;}
  100% {color:red; left:0px; top:0px;}
}
